.carousel_characters
  background-color: #e3dac9
  color: #000
  padding: 0
  
.character
  &_item
    margin: 5px 0

  &_key
    font-size: 12px
    // font-weight: bold
    // width: 50%

  &_value
    font-weight: bold
    margin: 0 !important
    // text-align: right

  // &_key,
  // &_value
  //   display: inline-block

  &_headline
    text-align: center
    font-weight: bold
    margin: 20px 0